#movingButton {
  
  transition: transform 0.3s ease-in-out;
}
.sim{
  font-family: courier new;
    font-weight: bold;
    font-size: 30px;
    color: White;
  background: green;
  border:2px solid green;
  border-radius: 20%;
}
body {
  font-family: georgia;
  background: White;
  color: green;
  text-align: center;
}
.button {
    font-family: courier new;
    font-weight: bold;
    font-size: 30px;
    color: White;
  background: green;
  border:2px solid green;
  border-radius: 20%;
    
    /* Adicione outras propriedades de estilo conforme necessário */
}

.no{
  background: white;
  border: 0px;
}

.img{
  padding: 10px 10px 10px 10px;
}
